html {
  box-sizing: border-box;
  counter-reset: section;
}

* {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #C0DBD9;
}

.header {
  height: 100px;
  margin-bottom: 15px;
  background-color: #7FAFF7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
  background: #A5C7F9;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 30px;

  cursor: pointer;
  transition: .1s all linear;
}

.button:hover {
  background-color: #0D89B0;
}

.button:active {
  transform: translateY(2px);
}


/* FIRST SECTION START */

.green {
  margin-bottom: 15px;
  background-color: #B3F95A;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 3.9fr 5.9fr 1.6fr;
  gap: 15px;
}

.green__item {
  width: 100%;
  height: 198px;
  background-color: #8AD191;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;

  color: #FFFFFF;

}

.green__item::after {

  counter-increment: section;
  content: counter(section);
}

.green__item:nth-child(4) {
  grid-column: 1 / 3;
}

/* FIRST SECTION END */


/* SECOND SECTION START */

.blue {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 259px;
  margin-bottom: 100px;
  padding: 30px;
  gap: 30px;
  background-color: #88B5BF;
}

.blue__item {
  background-color: #0D89B0;
  width: 100%;
  height: 100%;
  align-self: stretch;

}

/* SECOND SECTION END */

/* FOOTER SECTION END */

.footer {
  height: 100px;
  background-color: #7FAFF6;
}

/* FOOTER SECTION END */

/* POPUP SECTION END */


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: white;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
}

.button_close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* POPUP SECTION END */